/* Hinh anh chay + icon */
.tag-list{
    /* top: 1.5rem; */
    width:100%;
    position:relative;
    overflow: hidden;
    /* margin-top:7.25rem; */
}
.inner{
    width:fit-content;
    display: flex;  
    animation: loop 20s linear infinite;
}
.tag{
    display:flex;
    align-items:center;
    padding: 0.2rem 0.2rem;
}
.tag img {
    width: 21.75rem;
    height: 21.75rem;
    object-fit: cover; /* Đảm bảo các hình ảnh không bị méo khi thiết lập kích thước đồng đều */
}
.fade{
    position: absolute;    
    width:100%;
    inset:0;
    pointer-events: none;
}
@keyframes loop{
    0%{
        transform:translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}

/* bai viet */
.main{
    display: flex;
    padding-top:2rem;
    
}

.sidebar,.sidebar_post{
    width:25%;    
    border-right:1px solid rgb(199, 199, 199);
    border-top: 1px solid rgb(199, 199, 199);
}

/* icon */
.social{
    display:block;
    
}
.social_icons{
    display: flex;
    flex-wrap: wrap;

}

.social_icons a{
    text-decoration: none;
    width:100%;
    height:100%;
    font-size: 2.5rem;
    background:transparent;
    color:var(--clr);
    display:flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    animation: icon-out .5s forwards;
    animation-timing-function:cubic-bezier(0.5, -0.6, 1, 1);
}
.social_icons{
    list-style:none;
    display: flex;
    padding-left: 6rem;
    gap:2rem;
}
.social_icons li{
    width:5rem;
    height:5rem;
    color: var(--clr);
    
    border-radius:12px;
    position: relative;
    transition: all .5s;
    box-shadow: 0px 8px 16px -6px, 0px 0px 16px -6px;
}
.social_icons li:before{
    content:"";
    width:7.9rem;
    height:7.9rem;
    background: var(--clr);
    display: block;
    position: absolute;
    transform: rotate(-45deg) translate(-110%,-23px);
    z-index: -1;
    animation: back-out .5s forwards;
    animation-timing-function: cubic-bezier(0.5,-0.6,1,1);
}
.social_icons li {
    overflow: hidden;
}
.social_icons li:hover a{
    animation:icon-in .5s forwards;
    animation-timing-function: cubic-bezier(0,0,0.4,1.6);
}
.social_icons li:hover:before{
    animation:back-in .5s forwards;
    animation-timing-function: cubic-bezier(0,0,0.4,1.6);
}
@keyframes back-in{
    0%{
        transform: rotate(-45deg)
        translate(-110%,-23px);
    }
    80%{
        transform: rotate(-45deg)
        translate(5%,-23px);
    }
    100%{
        transform: rotate(-45deg)
        translate(0%,-23px);
    }
}
@keyframes back-out{
    0%{
        transform: rotate(-45deg)
        translate(0%,-23px);
    }
    20%{
        transform: rotate(-45deg)
        translate(5%,-23px);
    }
    100%{
        transform: rotate(-45deg)
        translate(-120%,-23px);
    }
}
@keyframes icon-in{
    0%{
        font-size:1.5rem;
    }
    80%{
        color:white;
        font-size: 1.75rem;
    }
    100%{
        color: #fff;
        font-size:1.6em;
    }
}
@keyframes icon-out{
    0%{
        color: #fff;
        font-size:1.6em;
    }
    20%{
        color:white;
        font-size: 1.75rem;
    }
    100%{
        font-size:1.5rem;
    }
}
/* sidebar categories*/

.watch_most_links{
    width: 90%;
}
.watch_most_links li{
    margin-bottom: 2rem;
}

.foru_links a,.watch_most_links a{
    text-decoration: none;
    color: black;
    font-size:2rem;
}
.foru_links ul, .watch_most_links ul{
    list-style: none;
}
.foru_links a:hover, .watch_most_links a:hover{
    color:rgb(255, 103, 179);
    
}
.watch_most_links a{
    font-size:1.7rem;
}
.watch_most_header{
    display: flex;
    justify-content: center;
}
.displayPost {
    clear: both;
    display: block;
    width: 100%;
    overflow: hidden;
    padding-bottom: 20px; 
    font-size: 18px;
    margin-left:3rem;
}
.displayPost h3{
    font-size:27px;
}

.displayPost img {
    float: left;
    margin-right: 3rem; 
    width: 230px; 
    height: 230px; 
}

.displayPost .btn {   
    margin-top: 10px; 
    border:1px solid black;
    border-radius:5px;
    font-size:20px;
    background-color: rgb(255, 221, 223);
}      
.displayPost .btn:hover{
    color:white;
    background-color: rgb(247, 161, 167);

}
/* BAI VIET */
.post_main{
    display:flex;
    /* margin-top:7rem; */
}    
.post_layout{
    display:block;
    width:75%;
    overflow:hidden;
    padding-left:5rem;
    padding-right: 2rem;
    border-right:1px solid rgb(199, 199, 199);
    border-top:1px solid rgb(199, 199, 199);

}
.post_header{
    display:flex;
    justify-content:center;
    align-content:center;
    padding-top: 2rem;
    padding-bottom:2rem;
}



.related_link{
    margin-top:3rem;
}
.related_link a{
    color:black;
}
.related_link a:hover{
    color:rgb(206, 91, 56);
}

/* Bổ sung 4/6 */
.social,.foru,.watch_most{
    margin-bottom:4rem;
}
.social_link{
    /* text-align: center;
    padding-bottom:2rem; */
    display: flex;
    align-items: center;
    margin-bottom:2rem;
}
.foru_header{
    display: flex;
    align-items: center;
    margin-bottom:2rem;
}
.watch_most_header,.relate_header{
    display: flex;
    align-items: center;
    margin-top:2rem;

}
.social_link h2, .foru_header h2,.watch_most_header h2,.relate_header h2{
    font-family: 'Paytone One', sans-serif;
    font-weight: medium;
    color: #ddab64;
}
.social_link hr{
    width:20%;
    margin-top: 2.5rem;
    background-image: linear-gradient(to right, #fdd5d9,#feadb5, #f9bec4);
    /* #f9bec4 */
    height: 5px;
    border: none;
}
.foru_header hr{
    width:20%;
    margin-top: 2.5rem;
    background-image: linear-gradient(to right, #fdd5d9,#feadb5, #f9bec4);
    /* #f9bec4 */
    height: 5px;
    border: none;
}
.watch_most_header hr{
    background-image: linear-gradient(to right, #fdd5d9,#feadb5, #f9bec4);
    /* #f9bec4 */
    height: 5px;
    border: none;
    width:10%;
}
.relate_header hr{
    background-image: linear-gradient(to right, #fdd5d9,#feadb5, #f9bec4);
    /* #f9bec4 */
    height: 5px;
    border: none;
    width:15%;
}
.news_header{
    height: 4.5rem;
    background-color: rgb(255, 221, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Paytone One', sans-serif;
    font-weight: medium;
    color: #d68a1f;
}
.section{
    width:80%;
    border:1px solid rgb(199, 199, 199);
    border-right:2px solid  rgb(255, 221, 223);
}