html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* font-size: 18px; */
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');


.Update-btn {
    display: flex;
    margin-top: 20px;
    font-family: 'Dongle', sans-serif;
}

.btn-back {
    /* border: 2px solid #545454; */
    padding: 8px 12px;
    border-radius: 5px;
    margin-left: 15px;
}

.btn {
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #EF99A2;
    border: 0px;
    /* background-color: rgb(184, 76, 101); */
    border-radius: 5px;
    font-size: 20px;
    padding: 7px 20px;
}

.btn:hover {
    opacity: 0.7;
    /* Giảm độ trong suốt khi hover vào */
}

/* .fa-solid {
    padding: 10px;
} */
/* .menu_user
{
    background-color: #425d76;
} */

/* Phần đổi mật khẩu */
.error {
    color: #ff0000;
}

.btn-changePass {
    background-color: rgb(184, 76, 101);
    color: #fff;
}


.form-control {
    width: 100%;
    height: 30px;
    border-radius: .25rem;
    border: 1px solid #c5c3c3;
    background-clip: padding-box;
    line-height: 1.5;
    padding: .375rem .75rem;
}

input[type="text"],
input[type="date"],
input[type="email"] {
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.private_infor {

    padding-top: 10px;
}

/* Phần nhập thông tin cá nhân */
.card_body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 10px;
    margin-top: 15px;

}

.card_avatar{
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    font-weight: 400;
}
input[type='file']{
    font-size: 1.2rem;
    font-weight: 400;
}


.inf_title {
    height: 88px;
    font-size: 2rem;
    font-family: 'Paytone One', sans-serif;
    font-weight: 700;
    letter-spacing: 1.5px;
    line-height: 60px;
    color: #EF99A2;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* Mobile width < 740px */
@media only screen and (max-width: 46.1875em)
{
    .container_Information {
        flex-direction: column;
    }

    .input_infor_Customer {
        width: 100%;
    }

    .private_infor {
        border: 1px solid rgb(223, 223, 223);
        border-left: none;
    }
    /* .img_photo{
        height: 30%;
    } */
} 
/* Tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em)
{
    .container_Information {
        flex-direction: column;
    }

    .input_infor_Customer {
        width: 100%;
    }

    .private_infor {
        border: 1px solid rgb(223, 223, 223);
        border-left: none;
        border-right: none;
    }
   
} 


/* TRANG QUẢN LÝ ĐƠN HÀNG */
.table-cart {
    width: 100%;
}