/*------------------------------------------------------------------------------*/
#amount
{
  margin-left: -5px;
  width:230px;
  border:0;
  color:#EF99A2;
  background-color: #FBFBFA; 
  font-weight:bold; 
}
#slider-range
{
  margin-left: 5px;
  margin-right: 20px;
}

/* SẢN PHẨM */
.container-fluid {
  width: 100vw;
  display: flex;
}

.container-fluid .filter-bar hr {
  border-color: #EF99A2;
  border-width: 3px;
}

.product-image img {
  width: 260px;
  height: 260px;
  border: 0px solid white;
  border-radius: 5px 5px 5px 5px;
  object-fit: cover;

}

.filter-bar {
  background-color: #FBFBFA;
  box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);

}

.container-fluid .product-list .products .product-card .product-info .product-name {
  text-decoration: none;
}

.container-fluid .product-list .products .product-card .product-info .product-name:hover {
  color: #EF99A2;
}

.category-title-1,
.category-title-2 {
  text-decoration: none;
  font-weight: 500;
}

.container-fluid .filter-bar .category .category-title-1:hover {
  color: #EF99A2;
}

.container-fluid .filter-bar {
  width: 22%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 30px;
}

.container-fluid .filter-bar .category .category-title-1 {
  color: #D0933E;
  font-size: 25px;
  margin: 38px 0;
}

.container-fluid .filter-bar .category .category-title-2 {
  color: #D0933E;
  font-size: 25px;
  margin: 38px 0;
}

.container-fluid .filter-bar .category li {
  list-style: none;
  font-size: 20px;
  color: #3e2929;
}

.container-fluid .filter-bar .category input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 8px;
}

.container-fluid .product-list {

  width: 78%;
  padding-bottom: 70px;
  padding-left: 20px;
  height: 120px;
}

.container-fluid .product-list .search-bar {
  width: 75%;
  margin-bottom: 54px;
  margin-top: 38px;
}

.container-fluid .product-list .search-bar input {
  width: 100%;
  height: 50px;
  font-size: 20px;
  padding: 0 20px;
}

.container-fluid .product-list .products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 90px 52px;
}

.container-fluid .product-list .products .product-card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1 1 200px;
  max-width: 220px;
}

.container-fluid .product-list .products .product-card .product-info .product-name {
  font-size: 23px;
  font-weight: 500;
  margin: 0;
  color: #513636;
}

.container-fluid .product-list .products .product-card .product-info .product-price {
  color: #ff263c;
  font-size: 20px;
  margin: 0;
}

.container-fluid .product-list .navigator {
  width: 100%;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.container-fluid .product-list .navigator .page-number {
  font-size: 25px;
}

.container-fluid .product-list .navigator .page-number.active {
  color: #d0933e;
}

.footer {
  background-color: #3e2929;
  height: 258px;
}

@media only screen and (max-width: 1200px) {

  /*reponsive màn hình lap*/
  .header .action-section .group p {
    display: none;
  }

  .header .logo-section .search-bar {
    display: none;
  }

  .nav-bar .nav-list {
    gap: 24px;
  }

  .nav-bar .nav-list .nav-item {
    font-size: 26px;
    color: #fff;
  }

  .container-fluid .product-list .products .product-card {
    width: 200px;
  }

  .container-fluid .product-list .products .product-card img {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {

  /* reponsive màn hình diện thoại */
  .container-fluid {
    display: block;
    /*hiển thị theo khối*/
  }

  .container-fluid .filter-bar .category {
    padding: 12px;
  }

  .container-fluid .product-list,
  .container-fluid .filter-bar {
    width: 120vw;
    display: flex;
    flex-wrap: wrap;
    /* dư thì xuống hàng  */
    flex-direction: row;
    /*hiển thị theo hàng*/
    padding: 24px;
  }
}

/* style lại search sản phẩm - VHoang */
.search_product{
  margin-top: 20px;
  width: 50%;
  margin-bottom:20px;
  
}
.search_button_product {
  background-color: #d3818c;
  width:6.2rem;
  height:4.5rem;
  border: none;
  padding: 5px 10px; 
  font-size: 16px; 
  color: #fff;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: -1px; 
  border-color: #d0933e;
}
.input-group {
  display: flex;
  align-items: center;
  width: 70%;
}
.search_input_product{
  height: 4.5rem;
  font-size: 16px;
  border-color: #d0933e;
}
.search_button_product:hover{
  background-color: #ebd7d7;
  color:#d3818c;
}
/* style lại search sản phẩm - VHoang */
