body
{
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    /* font-family: 'Nunito', sans-serif; */
}
/*Top-bar*/

.top-bar
{
    width: 100%;
    max-width: 1920px;
    height: 85px;
    display: flex;
    align-items: center;
    background-color: #FDFDFB;
    display: grid;
    grid-template-columns: 20% 45% 35%;
}
.top-bar a
{
    text-decoration: none;
}
.logo
{
    height: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 35% 0% 65%;
}

/*LOGO*/
.logo-img
{
    width: 55%;
    height: auto;
    margin-top: 0px;
    margin-left: 30%;
}
.logo-blinkiy
{
    margin-top: 4px;
    font-size: 20px;
    font-family: 'Arial';
    font-style: normal;
    /* color: #DDD9CD; */
    /* margin-left: -10%; */
    color: #EF99A2;
    font-weight: 700;
}
.logo-phongthuy
{
    margin-top: 29px;
    font-size: 18px;
    /* margin-left: -10%; */
    font-family: 'Arial';
    /* font-family: 'Saira Stencil One', sans-serif; */
    color: #DAB076;
    font-weight: bold;
}

/*SEARCH BAR*/
.search-bar
{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.search-bar-cover
{
    margin-top: 0.5%;
    width: 85%;
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 8% 92%;
    border: 1px solid #DAB076;
    border-radius: 50px 50px 50px 50px;
}
.search-bar-input
{
    width: 90%;
    height:20px;
    background-color: #FDFDFB;
    border: 1px solid #DAB076;
    border-top: none;
    border-right: none;
    border-bottom: none;
    color: #e08f96;
    text-indent: 10px;/*để di chuyển value với placeholer sang phải*/
}

.search-bar-input:focus
{
    outline: none;
}
.search-bar-input::placeholder
{
    color: #e08f96;
    font-size: 15px;
}
i.fa-search
{
    font-size: 15px;
    margin-top: 0;
    height: 30px;
    width: 100%;
    color: #EF99A2;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*TOP BAR OPTIONS*/
.top-bar-options
{
    height: 35px;
    width: 100%;
    display: flex;
    align-items: end;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 34% 33% 33%;
}
i.fa-user, i.fa-cart-shopping, i.fa-heart
{
    color: #EF99A2;
    font-size: 20px;
}
.cart-shopping-quantity
{   
    width: 20px;
    height: 11.5px;
    background-color: #F5CD92;
    border-radius: 10px 10px 10px 10px;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -6px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    /* color: #EF99A2; */
    color: #d4868d;
}
#cart-shopping
{
    display: grid;
    grid-template-columns: 35% 70%;
    height: 20px;

}
.top-bar-options-object
{
    display: flex;
    align-items: center;
    display: grid;
    grid-template-columns: 20% 70%;
}
.top-bar-options-object:hover .fa-cart-shopping,
.top-bar-options-object:hover .top-bar-options-object-title,
.top-bar-options-object:hover .fa-heart,
.top-bar-options-object:hover .top-bar-options-object-title,
.top-bar-options-object:hover .fa-user,
.top-bar-options-object:hover .top-bar-options-object-title
{
    color: #F4BF75;
    /* color: #DAB076; */
}

.top-bar-options-object-title
{
    color: #d4868d;
    text-decoration: none;
    font-weight: light;
    font-size: 19px;
}
/* MENU BAR */
.menu-bar
{
    width: 100%;
    max-width: 1920px;
    display: grid;
    grid-template-rows: 0px;
    /* order: 2; */
}
.mainmenu, .product-submenu
{
    list-style: none;
    margin: 0;
    padding: 0;
}
.mainmenu
{
    z-index: 1;
    background: rgba(112, 90, 87, 0.37);
    height: 75px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    /* backdrop-filter: blur(2px); */
}

.menu-bar-title
{
    display: block;
    text-decoration: none;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    font-size: 23px;
    letter-spacing: 1.25px;
    text-align: center;
}
.mainmenu a:hover
{
    color: #452525;
}
.mainmenu-li
{
    height: 75px;
}
.mainmenu-li:hover .product-submenu 
{
    display: block;
    max-height: 400px;
    
}
.product-submenu a
{
    display: block;
    text-decoration: none;
    height: 50px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    font-weight: 50;
    color: #706c6b;
}
.product-submenu a:hover
{
    color: #EF99A2;
    background-color: #edededad;
}
.product-submenu
{
    background-color: #ffffff;
    border: 0.5px solid #DAB076;
    border-top: none;
    opacity: 0.8;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}


/* Mobile width < 740px */
@media only screen and (max-width: 46.1875em)
{
    .top-bar {
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 30% 28% 42%;
    }
    .logo
    {
        margin-top: -5px;
        height: 15px;
        display: grid;
        grid-template-columns: 40% 0% 60%;
    }
    .logo-img
    {
        height: auto;
        width: 40%;
        margin-top: 2px;
        margin-left: 41%;
    }
    .logo-blinkiy
    {
        margin-top: 0.3px;
        font-size: 9px;
    }
    .logo-phongthuy
    {
        margin-top: 13px;
        font-size: 7px;
        color: #DAB076;
    }
    /*SEARCH BAR*/
    .search-bar-cover
    {
        margin-top: 0.5%;
        width: 85%;
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 15% 85%;
        border: 0.5px solid #DAB076;
        border-radius: 50px 50px 50px 50px;
    }
    .search-bar-input
    {
        border-width: 0.5px;
        width: 85%;
        height: 8px;
        line-height: 12px;
        text-indent: 3px;
        font-size: 6px;
    }
    .search-bar-input::placeholder
    {
        line-height: normal; 
        font-size: 6px;
    }
    i.fa-search
    {
        /* border: 0.5px solid #373737; */
        font-size: 6px;
        height: 12px;
        width: 100%;
    }
    .top-bar-options
    {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    
    i.fa-user, i.fa-heart
    {
        font-size: 7px;
    }
    .icon_option
    {
        margin-top: -3px;
    }
    i.fa-cart-shopping
    {
        margin-top: 10px;
        font-size: 7px;
    }
    .top-bar-options-object-title
    {
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 8px;
    }
    .top-bar-options-object
    {
        display: grid;
        grid-template-columns: 20% 80%;
        
    }
    .cart-shopping-quantity
    {
        width: 6px;
        height: 5px;
        background-color: #F5CD92;
        border-radius: 10px 10px 10px 10px;
        font-size: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 2px; */
        margin-top: 7px;
    }
    /* MENU BAR */
    .mainmenu
    {
        z-index: 1;
        height: 40px;
    }
    .menu-bar-title
    {
        height: 40px;
        font-size: 10px;
    }
    .mainmenu-li
    {
        height: 40px;
    }
    .product-submenu a
    {
        height: 30px;
        font-size: 10px;
    }
} 
/* Tablet */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em)
{
    .top-bar
    {
        width: 100%;
        height: 70px;
        display: grid;
        grid-template-columns: 22% 40% 38%;
    }
    .logo
    {
        height: 70px;
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 40% 0% 60%;
    }
    .logo-img
    {
        margin-top: 4px;
        width: 55%;
        height: auto;
        margin-left: 30%;
    }
    .logo-blinkiy
    {
        margin-top: 0.5px;
        font-size: 14px;
    }
    .logo-phongthuy
    {
        margin-top: 34px;
        font-size: 13px;
        color: #DAB076;
    }
    /*SEARCH BAR*/
    .search-bar-cover
    {
        margin-top: 0.5%;
        width: 85%;
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 10% 90%;
        border: 0.5px solid #DAB076;
        border-radius: 50px 50px 50px 50px;
    }
    .search-bar-input
    {
        width: 85%;
        height: 15px;
        line-height: 12px;
        border: 0.5px solid #DAB076;
        border-top: none;
        border-right: none;
        border-bottom: none;
        text-indent: 3px;
        font-size: 10px;
    }
    .search-bar-input::placeholder
    {
        line-height: normal; 
        font-size: 10px;
    }
    i.fa-search
    {
        font-size: 10px;
        height: 23px;
        width: 100%;
    }
    .top-bar-options
    {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    
    i.fa-user, i.fa-cart-shopping, i.fa-heart
    {
        margin-top: 5px;
        /* color: #F7ECDB; */
        font-size: 15px;
    }
    .top-bar-options-object-title
    {
        margin-top: 5px;
        margin-bottom: 0;
        /* color: #F7ECDB; */
        font-size: 15px;
    }
    .top-bar-options-object
    {
        display: grid;
        grid-template-columns: 20% 80%;
        
    }
    .cart-shopping-quantity
    {
        width: 16px;
        height: 10px;
        border-radius: 10px 10px 10px 10px;
        font-size: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -1.25px;
    }
    /* MENU BAR */
    .mainmenu
    {
        z-index: 1;
        height: 60px;
        /* backdrop-filter: blur(2px); */
    }
    .menu-bar-title
    {
        height: 60px;
        font-size: 17px;
    }
    .mainmenu-li
    {
        height: 60px;
    }
    .product-submenu a
    {
        height: 45px;
        font-size: 17px;
    }
} 